<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Početna stranica - Citadel prodavaonica društvenih igara</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/images/castle.png">
            <!-- linkam stilove za stolna racunala, tj desktop computers-->
        <link href="/styles/stolna-racunala.css" rel="stylesheet" >
            <!-- linkam stilove za prijenosna racunala, ukoliko je velcina ekrana manja ili jednaka 1023, tj ako je < 1024px -->
        <link href="/styles/prijenosna-racunala.css" rel="stylesheet" media="screen and (max-width: 1023px)">
    </head>
    <body>
        <%- include(`partials/header1`); %>   

        <!-- div predstvalja 3. dio sranice -->
        <div class="treci-dio-stranice">
            <div class="izbor-kategorije">
                <span>Društvene igre</span>
                <div class="sve-kategorije">
                <% catg.forEach(c => {  %>
                    <form class="forma" method="GET" action="/home/getProducts/<%= c.id %>">
                        <button type="submit" class="catg"><%= c.name %></button>
                    </form>
                <% }) %>
                </div>
            </div>
            <div class="sadrzaj-specificne-kategorije">
                <div class="ime-trenutne-kategorije">Treunutna kategorija: Apstraktne strateške igre</div>
                <div class="sprmenik-proizvoda-kategorije">
                    <div class="proizvod-slika-opis 1">
                        <div class="spremnik-brojilo-proizvod">
                            <img class="proizvod-slika" id="s1" src="/images/kategorija1/k1_1.webp" alt="za sada nista" width="400" height="auto">
                            <img class="cart cart-proizvod" src="/images/shopping-cart.png" alt="shoping cart" height="100" width="auto">
                            <div class="brojilo brojilo-proizvod">0</div>
                        </div>
                        <div class="proizvod-opis">AZUL - MASTER CHOCOLATIER</div>
                    </div>
                    <div class="proizvod-slika-opis 2">
                        <div class="spremnik-brojilo-proizvod"> 
                            <img class="proizvod-slika" id="s2" src="/images/kategorija1/k1_2.webp" alt="za sada nista" width="400" height="auto">
                            <img class="cart cart-proizvod" src="/images/shopping-cart.png" alt="shoping cart" height="100" width="auto">
                            <div class="brojilo brojilo-proizvod">0</div>
                        </div>
                        <div class="proizvod-opis">PATCHWORK - VALENTINE'S DAY EDITION</div>
                    </div>
                    <div class="proizvod-slika-opis 3">
                        <div class="spremnik-brojilo-proizvod"> 
                            <img class="proizvod-slika" id="s3" src="/images/kategorija1/k1_3.webp" alt="za sada nista" width="400" height="auto">
                            <img class="cart cart-proizvod" src="/images/shopping-cart.png" alt="shoping cart" height="100" width="auto">
                            <div class="brojilo brojilo-proizvod">0</div>
                        </div>
                        <div class="proizvod-opis">YINSH</div>
                    </div>
                    <div class="proizvod-slika-opis 4">
                        <div class="spremnik-brojilo-proizvod">
                            <img class="proizvod-slika"  id="s4" id="s1" src="/images/kategorija1/k1_4.webp" alt="za sada nista" width="400" height="auto">
                            <img class="cart cart-proizvod" src="/images/shopping-cart.png" alt="shoping cart" height="100" width="auto">
                            <div class="brojilo brojilo-proizvod">0</div>
                        </div>
                        <div class="proizvod-opis">WAR CHEST</div>
                    </div>
                    <div class="proizvod-slika-opis 5">
                        <div class="spremnik-brojilo-proizvod">
                            <img class="proizvod-slika" id="s5" src="/images/kategorija1/k1_5.webp" alt="za sada nista" width="400" height="auto">
                            <img class="cart cart-proizvod" src="/images/shopping-cart.png" alt="shoping cart" height="100" width="auto">
                            <div class="brojilo brojilo-proizvod">0</div>
                        </div>
                        <div class="proizvod-opis">HAVALANDI</div>
                    </div>
                </div>
            </div>
        </div>

        <%- include(`partials/footer`); %>   
    </body>
</html>